# Specify server role as 'redis_replica_role'
roles ['redis_replica_role']

# IP address pointing to a local IP that the other machines can reach to.
# You can also set bind to '0.0.0.0' which listen in all interfaces.
# If you really need to bind to an external accessible IP, make
# sure you add extra firewall rules to prevent unauthorized access.
redis['bind'] = '{{ HOST_IP }}'

# Define a port so Redis can listen for TCP requests which will allow other
# machines to connect to it.
redis['port'] = 6379

# Set up password authentication for Redis (use the same password in all nodes).
redis['password'] = '{{ REDIS_PASSWORD }}'

# The IP of the primary Redis node.
redis['master_ip'] = '{{ REDIS_PRIMARY_IP }}'

## Enable service discovery for Prometheus
consul['enable'] = true
consul['monitoring_service_discovery'] =  true

## The IPs of the Consul server nodes
## You can also use FQDNs and intermix them with IPs
consul['configuration'] = {
   retry_join: %w({{ CONSUL_1_IP }} {{ CONSUL_2_IP }} {{ CONSUL_3_IP }}),
}

# Set the network addresses that the exporters will listen on
node_exporter['listen_address'] = '0.0.0.0:9100'
redis_exporter['listen_address'] = '0.0.0.0:9121'
redis_exporter['flags'] = {
     'redis.addr' => 'redis://{{ HOST_IP }}:6379',
     'redis.password' => '{{ REDIS_PASSWORD }}',
}

# Disable auto migrations
gitlab_rails['auto_migrate'] = false
