# Disable all components except PostgreSQL and Repmgr and Consul
roles ['postgres_role']



# PostgreSQL configuration
postgresql['listen_address'] = '0.0.0.0'
postgresql['hot_standby'] = 'on'
postgresql['wal_level'] = 'replica'
postgresql['shared_preload_libraries'] = 'repmgr_funcs'


# Disable automatic database migrations
gitlab_rails['auto_migrate'] = false

# Configure the Consul agent
consul['services'] = %w(postgresql)

# START user configuration
# Please set the real values as explained in Required Information section
#
#
# Replace PGBOUNCER_PASSWORD_HASH with a generated md5 value
postgresql['pgbouncer_user_password'] = '{{ PGBOUNCER_PASS_HASH }}'
# Replace POSTGRESQL_PASSWORD_HASH with a generated md5 value
postgresql['sql_user_password'] = '{{ POSTGRESQL_PASS_HASH }}'
# Set `max_wal_senders` to one more than the number of database nodes in the cluster.
# This is used to prevent replication from using up all of the
# available database connections.
postgresql['max_wal_senders'] = 4
postgresql['max_replication_slots'] = 4
postgresql['ssl'] = 'off'

# Replace XXX.XXX.XXX.XXX/YY with Network Address
#postgresql['trust_auth_cidr_addresses'] = %w(127.0.0.1/32 10.6.0.0/24)
#repmgr['trust_auth_cidr_addresses'] = %w(127.0.0.1/32 10.6.0.0/24)
postgresql['md5_auth_cidr_addresses'] = %w(127.0.0.1/32 172.31.0.0/16 {{ PGBOUNCER1_IP }}/32 {{ PGBOUNCER2_IP }}/32 {{ PGBOUNCER3_IP }}/32 )
postgresql['trust_auth_cidr_addresses'] = %w(127.0.0.1/32 172.31.0.0/16 {{ PGBOUNCER1_IP }}/32 {{ PGBOUNCER2_IP }}/32 {{ PGBOUNCER3_IP }}/32 )
repmgr['trust_auth_cidr_addresses'] = %w(127.0.0.1/32 172.31.0.0/16)

## Enable service discovery for Prometheus
consul['enable'] = true
consul['monitoring_service_discovery'] =  true

# Set the network addresses that the exporters will listen on for monitoring
node_exporter['listen_address'] = '0.0.0.0:9100'
postgres_exporter['listen_address'] = '0.0.0.0:9187'
postgres_exporter['dbname'] = 'gitlabhq_production'
postgres_exporter['password'] = '{{ POSTGRESQL_PASS_HASH }}'

## The IPs of the Consul server nodes
## You can also use FQDNs and intermix them with IPs
consul['configuration'] = {
   retry_join: %w({{ CONSUL_1_IP }} {{ CONSUL_2_IP }} {{ CONSUL_3_IP }}),
}

#
# END user configuration


