
external_url 'http://{{ EXTERNAL_GITLAB_URL }}'


# Gitaly and GitLab use two shared secrets for authentication, one to authenticate gRPC requests
# to Gitaly, and a second for authentication callbacks from GitLab-Shell to the GitLab internal API.
# The following two values must be the same as their respective values
# of the Gitaly setup
gitlab_rails['gitaly_token'] = '{{ GITALY_TOKEN }}'
gitlab_shell['secret_token'] = '{{ GITLAB_SHELL_SECRET_TOKEN }}' 


git_data_dirs({
  'default' => { 'gitaly_address' => 'tcp://{{ GITALY_1_IP }}:8075' },
  'storage1' => { 'gitaly_address' => 'tcp://{{ GITALY_1_IP }}:8075' },
  'storage2' => { 'gitaly_address' => 'tcp://{{ GITALY_2_IP }}:8075' },
})

## Disable components that will not be on the GitLab application server
roles ['application_role']
gitaly['enable'] = false
nginx['enable'] = true
sidekiq['enable'] = false

## PostgreSQL connection details
# Disable PostgreSQL on the application node
postgresql['enable'] = false
gitlab_rails['db_host'] = '{{ INTERNAL_LB_IP }}' # internal load balancer IP
gitlab_rails['db_port'] = 6432
gitlab_rails['db_password'] = '{{ POSTGRESQL_PWD }}'
gitlab_rails['auto_migrate'] = false

## Redis connection details
## Must be the same in every sentinel node
redis['master_name'] = 'gitlab-redis'

## The same password for Redis authentication you set up for the master node.
redis['master_password'] = '{{ REDIS_PASSWORD }}'

## A list of sentinels with `host` and `port`
gitlab_rails['redis_sentinels'] = [
   {'host' => '{{ CONSUL_1_IP }}', 'port' => 26379},
   {'host' => '{{ CONSUL_2_IP }}', 'port' => 26379},
   {'host' => '{{ CONSUL_3_IP }}', 'port' => 26379},
]

## Enable service discovery for Prometheus
consul['enable'] = true
consul['monitoring_service_discovery'] =  true


# Set the network addresses that the exporters used for monitoring will listen on
node_exporter['listen_address'] = '0.0.0.0:9100'
gitlab_workhorse['prometheus_listen_addr'] = '0.0.0.0:9229'
sidekiq['listen_address'] = "0.0.0.0"
puma['listen'] = '0.0.0.0'

## The IPs of the Consul server nodes
## You can also use FQDNs and intermix them with IPs
consul['configuration'] = {
   retry_join: %w({{ CONSUL_1_IP }} {{ CONSUL_2_IP }} {{ CONSUL_3_IP }}),
}

# Add the monitoring node's IP address to the monitoring whitelist and allow it to
# scrape the NGINX metrics
gitlab_rails['monitoring_whitelist'] = ['{{ PROMETHEUS_IP }}/32', '127.0.0.0/8']
nginx['status']['options']['allow'] = ['{{ PROMETHEUS_IP }}/32', '127.0.0.0/8']
gitlab_rails['prometheus_address'] = '{{ PROMETHEUS_IP }}:9090'


## Uncomment and edit the following options if you have set up NFS
##
## Prevent GitLab from starting if NFS data mounts are not available
##
#high_availability['mountpoint'] = '/var/opt/gitlab/git-data'
##
## Ensure UIDs and GIDs match between servers for permissions via NFS
##
#user['uid'] = 9000
#user['gid'] = 9000
#web_server['uid'] = 9001
#web_server['gid'] = 9001
#registry['uid'] = 9002
#registry['gid'] = 9002