# Disable all components except Pgbouncer and Consul agent
roles ['pgbouncer_role']


# Configure PgBouncer
pgbouncer['admin_users'] = %w(pgbouncer gitlab-consul)


pgbouncer['users'] = {
'gitlab-consul': {
   password: '{{ CONSUL_PASS_HASH }}'
},
'pgbouncer': {
   password: '{{ PGBOUNCER_PASS_HASH }}'
}
}

# Configure the Consul agent
consul['watchers'] = %w(postgresql)

## Enable service discovery for Prometheus
consul['enable'] = true

## The IPs of the Consul server nodes
## You can also use FQDNs and intermix them with IPs
consul['configuration'] = {
   retry_join: %w({{ CONSUL_1_IP }} {{ CONSUL_2_IP }} {{ CONSUL_3_IP }}),
}

# Enable service discovery for Prometheus
consul['monitoring_service_discovery'] = true

# Set the network addresses that the exporters will listen on
node_exporter['listen_address'] = '0.0.0.0:9100'
pgbouncer_exporter['listen_address'] = '0.0.0.0:9188'

#
# END user configuration
