global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 debug
        maxconn   45000 # Total Max Connections.
        daemon
       
defaults
        timeout server 86400000
        timeout connect 86400000
        timeout client 86400000
        timeout queue   1000s

# [HTTP Site Configuration]
listen  http_web {{ HOST_IP }}:80
        mode http
        balance roundrobin  # Load Balancing algorithm
        option httpchk
        option forwardfor
        server Gitlab-App-1 {{ GITLABAPP1_IP }}:80 weight 1 maxconn 512 check
        server Gitlab-App-2 {{ GITLABAPP2_IP }}:80 weight 1 maxconn 512 check
        server Gitlab-App-3 {{ GITLABAPP3_IP }}:80 weight 1 maxconn 512 check

# [HTTPS Site Configuration]
listen  https_web {{ HOST_IP }}:443
        mode tcp
        balance source# Load Balancing algorithm
        http-request add-header X-Forwarded-Proto: http
        server Gitlab-App-1 {{ GITLABAPP1_IP }}:80 weight 1 maxconn 512 check
        server Gitlab-App-2 {{ GITLABAPP2_IP }}:80 weight 1 maxconn 512 check
        server Gitlab-App-3 {{ GITLABAPP3_IP }}:80 weight 1 maxconn 512 check