global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 debug
        maxconn   45000 
        daemon

defaults
        log global
        default-server inter 10s fall 3 rise 2
        balance leastconn
        timeout connect 5000
        timeout client  50000
        timeout server  50000

listen  stats   *:1936   
        mode            http
        log             global

        maxconn 10

        clitimeout      100s
        srvtimeout      100s
        contimeout      100s
        timeout queue   100s

        stats enable
        stats hide-version
        stats refresh 30s
        stats show-node
        stats auth admin:password
        stats uri  /haproxy?stats

frontend internal-pgbouncer-tcp-in
        bind *:6432
        mode tcp
        option tcplog

        default_backend pgbouncer

backend pgbouncer
        mode tcp
        option tcp-check

        server PgBouncer-1 {{ PGBOUNCER1_IP }}:6432 check
        server PgBouncer-2 {{ PGBOUNCER2_IP }}:6432 check
        server PgBouncer-3 {{ PGBOUNCER3_IP }}:6432 check