########################################
#####        Services Disabled       ###
########################################

nginx['enable'] = false
grafana['enable'] = false
prometheus['enable'] = false
gitlab_rails['auto_migrate'] = false
alertmanager['enable'] = false
gitaly['enable'] = false
gitlab_workhorse['enable'] = false
nginx['enable'] = false
puma['enable'] = false
postgres_exporter['enable'] = false
postgresql['enable'] = false
redis['enable'] = false
redis_exporter['enable'] = false
gitlab_exporter['enable'] = false

########################################
####              Redis              ###
########################################

## Must be the same in every sentinel node
redis['master_name'] = 'gitlab-redis'

## The same password for Redis authentication you set up for the master node.
redis['master_password'] = '{{ REDIS_PASSWORD }}'

## A list of sentinels with `host` and `port`
gitlab_rails['redis_sentinels'] = [
   {'host' => '{{ CONSUL_1_IP }}', 'port' => 26379},
   {'host' => '{{ CONSUL_1_IP }}', 'port' => 26379},
   {'host' => '{{ CONSUL_1_IP }}', 'port' => 26379},
]


#######################################
###              Gitaly             ###
#######################################

git_data_dirs({
  'default' => { 'gitaly_address' => 'tcp://{{ GITALY_1_IP }}:8075' },
  'storage1' => { 'gitaly_address' => 'tcp://{{ GITALY_1_IP }}:8075' },
  'storage2' => { 'gitaly_address' => 'tcp://{{ GITALY_2_IP }}:8075' },
})
gitlab_rails['gitaly_token'] = '{{ GITALY_TOKEN }}'


#######################################
###            Postgres             ###
#######################################
gitlab_rails['db_host'] = '{{ INTERNAL_LB_IP }}' # internal load balancer IP
gitlab_rails['db_port'] = 6432
gitlab_rails['db_password'] = '{{ POSTGRESQL_PWD }}'
gitlab_rails['db_adapter'] = 'postgresql'
gitlab_rails['db_encoding'] = 'unicode'
gitlab_rails['auto_migrate'] = false

#######################################
###      Sidekiq configuration      ###
#######################################
sidekiq['listen_address'] = "0.0.0.0"



#######################################
###     Monitoring configuration    ###
#######################################
consul['enable'] = true
consul['monitoring_service_discovery'] =  true

consul['configuration'] = {
   retry_join: %w({{ CONSUL_1_IP }} {{ CONSUL_2_IP }} {{ CONSUL_3_IP }}),
}

# Set the network addresses that the exporters will listen on
node_exporter['listen_address'] = '0.0.0.0:9100'

# Rails Status for prometheus
gitlab_rails['monitoring_whitelist'] = ['{{ PROMETHEUS_IP }}/32', '127.0.0.0/8']
gitlab_rails['prometheus_address'] = '{{ PROMETHEUS_IP }}:9090'
